extend layout
block content
  header#overview.jumbotron.subhead
    .row
      .span12
        h1 Gooley Results
      .span12
        - if (live)
          h3 Check back once the first round games start to see where you rank.
        - else
          h3 Check to see where you rank. Click other brackets to see the games they missed

  table.table.table-striped.results
    thead
      th Rank
      th Username
      th Score
    tbody
      - for (var i = 0, m = scores.length; i < m; i++)
        - var score = scores[i]
          tr
            td= score.rank
            td
              a(href= '/user/' + score.username)= score.username
            td= score.gooley

append moreScripts
  - if (env === 'production')
    script(src='/js/results-libs.js')
  - else
    script(src='/js/jquery.tablesorter.min.js?#{new Date().getTime()}')
    script(src='/js/results.js?#{new Date().getTime()}')