doctype html
html
  head
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimal-ui")
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(rel='stylesheet', href=locals.resourcePrefix + locals.cssFileName)
    script.
        __sport="#{sport}",__year="#{year}"
  body
    script(src=locals.resourcePrefix + locals.jsFileName)
    script.
        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));