extend layout
block content
  header#overview.jumbotron.subhead
    .row
      .span12
        h1 Results
      .span12
        - if (live)
          h3 Check back once the first round games start to see where you rank.
        - else
          h3 Check to see where you rank. Click other brackets to see the games they missed

  table.table.table-striped
    thead
      th Rank
      th Username
      th Rd1
      th Rd2
      th S16
      th E8
      th FF
      th NCG
      th Total
    tbody
      - for (var i = 0, m = scores.length; i < m; i++)
        - var score = scores[i]
          tr
            td= score.rank
            td
              a(href= '/user/' + score.username)= score.username
            td= score.rounds[0]
            td= score.rounds[1]
            td= score.rounds[2]
            td= score.rounds[3]
            td= score.rounds[4]
            td= score.rounds[5]
            td= score.totalScore