extend layout
block content
  header#overview.jumbotron.subhead
    .row
      .span12
        h1 Results
      .span12
        - if (live)
          h3 Check back once the first round games start to see where you rank.
        - else
          h3 Check to see where you rank. Click other brackets to see the games they missed

  table.table.table-striped.results
    thead
      th Rank
      th Username
      - for (var i = 0, m = rounds.length; i < m; i++)
        th= rounds[i]
          span= '(x' + pointsPerRound[i] + ')'
      th Total
    tbody
      - for (var i = 0, m = scores.length; i < m; i++)
        - var score = scores[i]
          tr
            td= score.rank
            td
              a(href= '/user/' + score.username)= score.username
            - for (var ii = 0, mm = score.rounds.length; ii < mm; ii++)
              td.score= score.rounds[ii] * pointsPerRound[ii]
                span= '(' + score.rounds[ii] + ')'
            td= score.totalScore