---
title: 404
---

<div class="hero-unit">
{{#if usererror}}
<h1><a href="http://twitter.com/{{attemptedUser}}">@{{attemptedUser}}</a> hates March Madness!</h1>
<p>Or they just didn't hear about us yet.</p>
<p>Let them know they should get on that like now.</p>
<a href="https://twitter.com/intent/tweet?screen_name={{attemptedUser}}&text=Hey!%20Come%20fill%20out%20your%20bracket%20at%20TweetYourBracket.com" class="twitter-mention-button" data-size="large" data-related="TweetTheBracket">Tweet to @{{attemptedUser}}</a>
{{else}}
<h1>Talk about an upset!</h1>
<p>We either had a problem or that page might not exist. If you want to fill out your bracket, <a href="/">head over here</a>.</p>
{{/if}}
</div>