---
user: active
---

<h1>@{{username}}</h1>

<p>This is the latest bracket for <a href="http://twitter.com/{{username}}">@{{username}}</a>. Anyone can edit it (until the games start) and tweet it as their own. Don't worry nothing will happen to @{{username}}'s bracket.</p>

<h2>Is this your bracket? Brag about it</h2>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://tweetyourbracket.com/{{username}}" data-text="Check out my completed bracket!" data-via="TweetTheBracket" data-size="large">Tweet</a>

{{{bracket}}}

