mixin team(team, pickable)
  - if (typeof team !== 'undefined')
    li
      - if (team)
        - var classes = ['']
        - team.eliminated && classes.push('eliminated')
        - team.correct === true && classes.push('correct')
        - team.correct === false && classes.push('incorrect')
        - pickable && classes.push('pickable')
        a.team(class=classes.join(' '), role='team', data-region=team.fromRegion, data-seed=team.seed, data-name=team.name, data-id=team.fromRegion + team.seed)
          span.seed #{team.seed}
          span.team-name #{team.name}
          - if (team.shouldBe)
            span.should-be
              span.seed #{team.shouldBe.seed}
              span.team-name #{team.shouldBe.name}
      - else
        a.empty &nbsp;


mixin matchups(team1, team2, pickable)
  ul.matchup(role='matchup')
    mixin team(team1, pickable)
    mixin team(team2, pickable)

mixin regionContents(region, pickable)
  h2.region-name= region.name
  .rounds.clearfix
    - each round in region.rounds
      .round
        - for (var ii = 0, mm = round.length; ii < mm; ii += 2)
          mixin matchups(round[ii], round[ii + 1], pickable)

mixin region(region, isFinal, pickable)
  section.clearfix.region(role='region', class=isFinal ? 'final-region' : 'initial-region', data-id=region.id)
    mixin regionContents(region, pickable)
  - if (!isFinal)
    .final-round-borders.hidden-sm.hidden-xs

mixin largeScreenFinal(region, pickable)
  section.clearfix.region(role='region', data-id=region.id)
    .matchups.clearfix
      - for (var i = 1, m = region.rounds.length; i < m; i++)
        - var round = region.rounds[i]
        .round
          - for (var ii = 0, mm = round.length; ii < mm; ii += 2)
            mixin matchups(round[ii], round[ii + 1], pickable)

mixin side(region1, region2, sideClass, pickable)
  .col-md-6.region-side.clearfix(class=sideClass)
    mixin region(region1, false, pickable)
    mixin region(region2, false, pickable)


mixin regions(regions, bracket, pickable)
  - var lastRegion = regions[regions.length - 1]
  - for (var i = 0, m = regions.length - 1; i < m; i += 2)
    mixin side(regions[i], regions[i + 1], i === 0 ? 'left-side' : 'right-side', pickable)
  .col-md-12.hidden-md.hidden-lg.clearfix
    mixin region(lastRegion, true, pickable)
  .large-screen-final.hidden-sm.hidden-xs.clearfix
    mixin largeScreenFinal(lastRegion, pickable)


.bracket.clearfix.row(data-bracket=bracket.flat, role='bracket')
  mixin regions(bracket.ordered, bracket, pickable)