- var canRewind = model.canRewind
- var canFastForward = model.canFastForward
- var hasHistory = model.hasHistory
- var isEnterable = model.complete
.row.sub-nav.bracket-nav.navbar(role="bracket-nav", data-spy="affix", class=isEnterable ? 'has-enter' : 'no-enter')
  .navbar-header.pull-right
    button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bracket-nav")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
  #bracket-nav.collapse.navbar-collapse.pull-left
    ul.nav.nav-pills.navbar-left
      li(class=canRewind ? '' : 'disabled')
        a(href="#", role="first")
          span.glyphicon.glyphicon-fast-backward
      li(class=canRewind ? '' : 'disabled')
        a(href="#", role="previous")
          span.glyphicon.glyphicon-step-backward
      li(class=canFastForward ? '' : 'disabled')
        a(href="#", role="next")
          span.glyphicon.glyphicon-step-forward
      li(class=canFastForward ? '' : 'disabled')
        a(href="#", role="last")
          span.glyphicon.glyphicon-fast-forward
      - if (typeof model.reset === 'function')
        li(class=hasHistory ? '' : 'disabled')
          a(href="#", role="reset")
            span.glyphicon.glyphicon-ban-circle
      - if (typeof model.setAsLower === 'function')
        li
          a(href='#', role='setAsLower') 1
      - if (typeof model.setAsHigher === 'function')
        li
          a(href='#', role='setAsHigher') 16
      - if (typeof model.setAsRandom === 'function')
        li
          a(href='#', role='setAsRandom')
            span.glyphicon.glyphicon-random
  .progress-holder.col-sm-4.col-lg-3.hidden-xs.pull-right
    .progress.progress-striped
      .progress-bar(role="progress-bar", aria-valuenow="#{model.progressNow}", aria-valuemin="0", aria-valuemax="#{model.progressTotal}", style="width: #{model.percent}%;")
      span.progress-title #{model.progressText}
  .col-xs-9.col-sm-3.col-md-4.enter-button !{model.enterButton}

