.progress.progress-striped
  .progress-bar(role="progress-bar", aria-valuenow="#{progressNow}", aria-valuemin="0", aria-valuemax="#{progressTotal}", style="width: #{percent}%;")
  span.progress-title #{progressNow} of #{progressTotal} #{progressText}