tr(class=user.isMe ? "success" : "")
    td.rank
    td
        a(href=user.pageLink)= user.username
    td= user.bracket.score.rounds[0]
    td= user.bracket.score.rounds[1]
    td= user.bracket.score.rounds[2]
    td= user.bracket.score.rounds[3]
    td= user.bracket.score.rounds[4]
    td= user.bracket.score.rounds[5]
    td= user.bracket.score.standard
    td= user.bracket.score.gooley